@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* || REST */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* || VARIABLES */
:root {
    /* COLORS */
    --SOFT-BLUE: #8BACD9;
    --WHITE: #FFFFFF;
    --CYAN: #00FFF8;
    --MAIN-BG: #0D192C;
    --CARD-BG: #15263F;
    --LINE: #2E405A;

    /* SHADOWS */
    --CARD-SHADOW: 0px 25px 50px 0px hsla(0, 0%, 0%, 0.0953);

    /* TYPOGRAPHY */
    --FF: "Outfit", sans-serif;

    --HEADING-SHARED: 600 1.375rem var(--FF);
    --BODY-SHARED: 300 1.125rem/1.625rem var(--FF);

    --CAPTION-MOB: normal .9375rem var(--FF);
    --CAPTION-BOLD-MOB: bold .9375rem var(--FF);

    --CAPTION-DSK: normal 1rem var(--FF);
    --CAPTION-BOLD-DSK: bold 1rem var(--FF);
}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.responsive-image {
    display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--MAIN-BG);
    display: grid;
    place-content: center;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
}

a:any-link {
    text-decoration: none;
}

a:focus {
    outline: none;
}

/* || NFT-CARD */
.nft-card {
    background-color: var(--CARD-BG);
    box-shadow: var(--CARD-SHADOW);
    border-radius: 15px;
    width: 327px;
    min-height: 543px;
    padding: 1.5rem 1.5625rem 1.5rem 1.5rem;
    margin: auto 1.5rem;
}

.nft-card__nft-hero {
    width: 278px;
    height: 278px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.nft-card__nft-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nft-card__title {
    color: var(--WHITE);
    font: var(--HEADING-SHARED);
    margin-bottom: .75rem;
}

.nft-card__title a:visited {
    color: var(--WHITE);
}

.nft-card__content {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.nft-card__description {
    max-width: 278px;
    font: var(--BODY-SHARED);
    color: var(--SOFT-BLUE);
}

.nft-card__nft-info {
    width: 278px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nft-card__currency {
    display: flex;
    align-items: center;
    gap: .375rem;
    color: var(--CYAN);
    font: var(--CAPTION-BOLD-MOB);
}

.nft-card__eth-icon img {
    max-width: 11px;
}

.nft-card__time {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--SOFT-BLUE);
    font: var(--CAPTION-MOB);
}

.nft-card__clock-icon img {
    max-width: 16px;
}

.nft-card__line {
    width: 278px;
    height: 1px;
    background-color: var(--LINE);
}

.nft-card__author-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nft-card__avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--WHITE);
}

.nft-card__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nft-card__author-name {
    font: var(--CAPTION-MOB);
    color: var(--SOFT-BLUE);
}

.nft-card__author-name a {
    color: var(--WHITE);
}

.nft-card__author-name a:visited {
    color: var(--WHITE);
}

@media screen and (min-width: 992px) {
    .nft-card {
        width: 350px;
        min-height: 596px;
        padding: 1.5rem 1.5rem 2rem;
        margin: auto 34.0625rem;
    }

    .nft-card__nft-hero {
        width: 302px;
        height: 302px;
        position: relative;
        cursor: pointer;
    }

    .nft-card__hover-icon {
        position: absolute;
        width: 302px;
        height: 302px;
        background-color: hsla(178, 100%, 50%, 0.503);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0.98);
        display: grid;
        place-content: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity 250ms ease, transform 250ms ease;
    }

    .nft-card__hover-icon img {
        max-width: 44px;
        transform: scale(0.9);
        transition: transform 250ms ease;
    }

    .nft-card__nft-hero:hover .nft-card__hover-icon {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
    }

    .nft-card__nft-hero:hover .nft-card__hover-icon img {
        transform: scale(1);
    }

    .nft-card__title {
        margin-bottom: 1rem;
    }

    .nft-card__title a {
        transition: color 0.5s ease;
    }

    .nft-card__title:hover a {
        color: var(--CYAN);
    }

    .nft-card__content {
        gap: 0px;
    }

    .nft-card__description {
        max-width: 302px;
        margin-bottom: 1.5rem;
    }

    .nft-card__nft-info {
        width: 301px;
        margin-bottom: 1.5rem;
    }

    .nft-card__currency {
        font: var(--CAPTION-BOLD-DSK);
    }

    .nft-card__time {
        font: var(--CAPTION-DSK);
    }

    .nft-card__line {
        width: 302px;
        margin-bottom: 1rem;
    }

    .nft-card__avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .nft-card__author-name {
        font: var(--CAPTION-DSK);
    }

    .nft-card__author-name a {
        transition: color 0.5s ease;
    }

    .nft-card__author-name a:hover {
        color: var(--CYAN);
    }
}